{
  "*.{js,jsx,ts,tsx}": [
    "eslint --cache --fix"
  ],
  "package.json": ["eslint --cache --fix"],
  "*.vue": [
    "eslint --cache --fix"
  ],
  "*.{css,scss,html}": [
    "eslint --cache --fix"
  ],
  "*.md": ["eslint --cache --fix"]
}
