html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.gx-app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 420px;
}
.gx-app-title {
  display: flex;
  align-items: center;
  font-size: 45px;
  font-weight: 600;
}
.gx-app-title img {
  width: 100px;
}
.page-loading-warp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 98px;
}
.page-loading-warp .page-loading-warp_mseeage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 80px;
}
.page-loading-warp .page-loading-warp_mseeage .page-loading_title {
  font-size: 20px;
}
.page-loading-warp .page-loading-warp_mseeage .page-loading_sub_title {
  color: #666;
  font-size: 16px;
}
.gx-spin {
  position: absolute;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  text-align: center;
  list-style: none;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
  -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
}

.gx-spin-spinning {
  position: static;
  display: inline-block;
  opacity: 1;
}

.gx-spin-dot {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.gx-spin-dot-spin {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: gxRotate 1.2s infinite linear;
  animation: gxRotate 1.2s infinite linear;
}

@-webkit-keyframes gxSpinMove {
  to {
    opacity: 1;
  }
}

@keyframes gxSpinMove {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gxRotate {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

@keyframes gxRotate {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
