html {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

html, body {
  max-width: 100vw;
  overflow: hidden;
  background: hsl(var(--color-background-body));
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.gx-app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 420px;
}

.gx-app-title {
  display: flex;
  align-items: center;
  font-size: 45px;
  font-weight: 600;
  color: var(--color-text);
}

.gx-app-title img {
  width: 100px;
}

.page-loading-warp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 98px;
}

.page-loading-warp .page-loading-warp_message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

.page-loading-warp .page-loading-warp_message .page-loading_title {
  font-size: 20px;
  color: var(--color-text);
}

.page-loading-warp .page-loading-warp_message .page-loading_sub_title {
  color: #666;
  font-size: 16px;
  color: var(--color-text-secondary);
}

.spin-animation {
  font-size: 16px;
  color: hsl(var(--color-primary));
}
