@font-face {
  font-family: 'material_font'; /* Project id 2916350 */
  src: url('iconfont.woff2?t=1638777693152') format('woff2'),
    url('iconfont.woff?t=1638777693152') format('woff'),
    url('iconfont.ttf?t=1638777693152') format('truetype');
}

.material_font {
  font-family: 'material_font' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gx-shuiyin:before {
  content: '\e6f0';
}

.gx-tupianbianji:before {
  content: '\e628';
}

.gx-yinleyinpin:before {
  content: '\e6e5';
}

.gx-qitawenjian:before {
  content: '\e66e';
}

.gx-shipin:before {
  content: '\e6ca';
}

.gx-tupian:before {
  content: '\e8ba';
}
