/**
 * @Author      gx12358
 * @DateTime    2021/7/30
 * @lastTime    2021/7/30
 * @description ant-pagination分页
 */

html {
  body {
    .ant-pagination {
      margin-top: 20px;

      .ant-pagination-item-active {
        background: @color_309CFF;
        border-color: @color_309CFF;
        border-radius: 4px;

        &:hover,
        &:focus {
          border-color: @color_309CFF;

          & > a {
            color: @white;
          }
        }

        & > a {
          color: @white;
        }
      }

      &.ant-table-pagination {
        margin-top: 20px;
      }
    }
  }
}
