@import './config';
@import './normalize';
@import './mixin';
@import './color';
@import './imageEditor';
@import './ant-design/index';

html,
body,
#app {
  height: 100%;
  .reset();
}

html {
  body {
    
    * {
      box-sizing: border-box;
    }
    /**
     * @Author      gx12358
     * @DateTime    2021/5/20
     * @lastTime    2021/5/20
     * @description 清楚浮动
     */

    .clearfix {
      .clearfix();
    }

    .@{gx-prefix}-admin-page-loading {
      .gx-admin-spin {
        font-size: 40px;
      }
    }
    
    .@{gx-prefix-pro}-page-container-row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .@{gx-prefix-pro}-page-container-content {
      display: flex;
      flex: auto;
    }

    .@{gx-prefix-pro}-page-container-extraContent {
      display: flex;
      flex: 0 1 auto;
      justify-content: flex-end;
      text-align: right;
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
