.header-deading {
  display: flex;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
    margin: 4px 0;
    overflow: hidden;
  }

  &-extra {
    margin: 4px 0;
    white-space: nowrap;
  }

  &-title {
    margin-right: 12px;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: @text-color;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .header-deading-extra {
    & > * + * {
      margin-left: 8px;
    }
  }
}

.header-content {
  padding-top: 12px;
}

.header-footer {
  margin-top: 16px;
}

.container-main {
  .container-row {
    display: flex;
    width: 100%;
  }

  .container-content {
    flex: auto;
    width: 100%;
  }

  .container-extraContent {
    flex: 0 1 auto;
    min-width: 242px;
    margin-left: 88px;
    text-align: right;
  }
}

.headerList {
  margin-bottom: 4px;

  :global {
    .ant-descriptions-row > td {
      padding-bottom: 8px;
    }
  }

  .stepDescription {
    position: relative;
    left: 38px;
    padding-top: 8px;
    font-size: 14px;
    text-align: left;

    > div {
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }
}

.moreInfo {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.main {
  :global {
    .ant-descriptions-row > td {
      padding-bottom: 8px;
    }

    .ant-page-header-heading-extra {
      flex-direction: column;
    }
  }

  &-card {
    box-shadow: 0 2px 8px #00000017;
  }
}

@media screen and (max-width: @screen-xl) {
  .container-main {
    .container-extraContent {
      margin-left: 44px;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .container-main {
    .container-extraContent {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: @screen-md) {
  .container-main {
    .container-row {
      display: block;
    }

    .container-extraContent {
      margin-left: 0;
      text-align: left;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .stepDescription {
    left: 8px;
  }
}
