.gx-pro-actions {
  --at-apply: flex items-center gap-sm;

  &>.gx-pro-actions-item {
    --at-apply: text-primary hover\:text-primary-hover cursor-pointer;
    transition: color 0.2s ease-in-out;

    &.text {
      --at-apply: text-base hover\:text-base;
    }

    &.danger {
      --at-apply: text-error hover\:text-error-hover;
    }
  }
}
